@import "animation";
#topChat{
    flex: 0.35;
    display: flex;
    flex-direction: row;

    #topChat-right, #topChat-left{
        flex: 0.3;
        position: relative;
    }
    #topChat-middle{
        flex: 1;
        display: flex;
        align-items: flex-end;
        justify-content: center;
        #placeTitle{
            margin-bottom: 1vh;
            position: relative;
            height: 60%;
            width: 77%;
            display: flex;
           
            img {
                height: 9vh;
        
            }
    }
    }
}
#middleChat{
    flex: 1.2;
    flex-basis: 0;
    display: flex;
    position: relative;
}
#bottomChat{
    flex: 0.35;
    display: flex;
    #bottomChat-left{
        flex: 1.2;
        display: flex;
        align-items: flex-start;
        justify-content: flex-end;
        margin-top: 0.5vh;
        position: relative;
        #sfondoChatInput{
            height: 9vh;
            margin-right: 6.2vh;
        }
    }
    #bottomChat-right{
        flex: 0.29;
        position: relative;
    }
}

#mainChat{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
}
#infoChat{
    display: flex;
    position: absolute;
    width: fit-content;
    height: fit-content;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    
}
#inputChat{
    flex: 1;
    input {
        height: 9vh;
        width: 71vh;
        background-color: transparent;
        border: none;
        padding: 1vh;
        color: white;
    }
}

#action_lenght{
    color: white;
    flex: 0.5;
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    position: relative;

}
#bottomChat-left-copy{
    display: flex;
    flex-direction: row;
}
#box_characters{
    width: 29%;
    height: 49%;
    border: 1px solid #33a6b1;
    margin-right: 2vh;
    display: flex;
    justify-content: center;
    align-items: center;
        
}
#sendAction{
    height: 6vh;
}
#dadi{
    height: 10vh;
    position: absolute;
    top: -18%;
    right: 15%;
    }

#descrizioneLuogoChat{
    height: 11.5vh;
    position: absolute;
    bottom: -19%;
    left: 15%;
}
#indietroChat{
    height: 7vh;
    position: absolute;
    left: 15%;
    top: -5%;
}

#news{
    height: 3.5vh !important;
}
/* TOOLTIP */ 
.tooltip{
    height: fit-content;
    box-sizing: border-box;
}

/* descrizione_chat */
#descrizione_main{
    width: 99%;
    max-height: 100%;
    padding-left: 1.5vh;
    padding-right: 1.5vh;
    overflow-x: auto;
    h2{
        font-family: fontH;
        margin-top: 1.5vh;
        margin-bottom: 1vh;
        text-align: center;
    }
    p {
        font-size: 1.5vh;
    }
    .whoMadeIt{
        text-align: right;
    }
    ul{
        list-style: none;
    }
    li{
        padding-bottom: 1vh;
    }
}

#messaggiChat{
    position: absolute;
    top: 36%;
    right: -2%;
    cursor: pointer;
    h1{
        writing-mode: vertical-rl;
        text-orientation: upright;
        color: white;
        font-family: fontH;
    }
}
.new_message_chat{
    color: brown !important;
}

#moreInfoChat{
    height: 8vh;
}
#contenitoreAzioni{
    width: 82%;
    height: 100%;
    margin: auto;
    overflow-y: auto;
    word-wrap: break-word;
    max-height: 44vh;
    ul {
        color: white;
        padding: 0.5vh;
        overflow-y: auto;
        font-family: Arial, Helvetica, sans-serif;
        li {
            padding: 0.5vh;
        }

    }
}


.parlato{
    color: #abe1f7;
}
.infoPgChat{
    padding-right: 0.5vh;
    color: #ffffffd6;
    font-weight: 1000;
}
.alignJustify{
    text-align: justify
}
.parentesi{
    color: #939db2;
}
.dataAzione{
    text-align: right;
}
.fato{
    border: 2px solid #32b4ca;
    border-radius: 34px 34px 0px 0px;
    padding: 1.5vh !important;
    color: #32b4ca;
    margin-bottom: 1.5vh;

}
.display_inline
{
    display: inline-block;
    max-width: 100%;
}
.comunicazioni_off{
    color: #d6d6d6 !important;
    font-style: italic;
}
.sussurri{
    color: #00ffcc !important;
}
.nameFato{
    margin-right: 9px;
}

#system_dado{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    label {
        float: left;
    }
    justify-content: center;
    align-items: center;
    select{
        height: 50%;
        width: 70%;
        border: 2px solid #00838f;
        background-color: #013445;
        color: #b7ebf5;
    }
}
.sub_system{
    flex: 1;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#button_send{
    height: 80%;
    width: 70%;
    border: 2px solid #00838f;
        background-color: #013445;
        color: #b7ebf5;
        &:hover{
            background-color: #eeeff0;
            color: #013445;
        }
        cursor: pointer;
}
.absoluteContainerIcon{
    position: absolute;
    width: 100%;
    height: 100%;
}
#tools-icon{
    height: 6vh;
    position: absolute;
    top: 40%;
    left: 3.4%;
    animation: spin 2s cubic-bezier(0, 0, 0.26, 0.82) infinite;
}
#tools-menu{
    width: 23%;
    height: fit-content;
    position: fixed;
    left: 0;
    background-color: #013445;
    z-index: 1;
    top: 30%;
    display: flex;
    flex-direction: column;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    border-right: 1px solid white;
    header {
        flex: 0.2;
        display: flex;
        flex-direction: row;
        justify-content:space-between;
        align-items:center;
        h1{
            margin:0 1vh 0 1vh ;
            color: white;
        }
    }
    main {
        flex: 1;
        ul{
            text-transform: capitalize;
            li:nth-child(odd) {
                background-color: #013445;
                color: white;
            }
            li:nth-child(even) {
                background-color: #0d4557;
                color: white;
            }
            li{
                display: flex;
                flex-direction: row;
        
                
                p {
                    padding: 1vh;
                    cursor: pointer;
                    flex: 1;
                }
            }
        }
    }
}
.openToolsMenu{
    animation: slideInLeft;
    animation-duration: 1s;
}
@media only screen and (max-width: 980px) and (min-height: 700px){
    #topChat{
     #topChat-middle{
         
         #placeTitle{
             margin-bottom: 0;
             img {
                 height: 5.8vh;
             }
     }
     }
 
 }
 #bottomChat{
    #bottomChat-left{
       position: relative;
        #sfondoChatInput{
            height: 5.8vh;
            margin-right: 4.3vh;
        }
    }

}
#inputChat{
    input {
        height: 5.8vh;
        width: 46vh;
    }
}
#sendAction{
    height: 4vh;
}
#dadi{
    height: 7vh;
    cursor: pointer;
}
#descrizioneLuogoChat{
    height: 7.5vh;

}

#indietroChat{
    top: -22%;
    height: 6vh;
    left : 14%;
    
}
#messaggiChat{
    top: 29%;
    right: -3%;
}
#moreInfoChat{
    height: 5vh;
}
#contenitoreAzioni{
        max-height: 30vh;
}
#tools-icon{
    height: 5vh;
    left: 2.7%;
}
}

@media only screen and (max-width: 840px){
    #topChat{
        #topChat-middle{
            
            #placeTitle{
                img {
                    height: 5.3vh;
                }
        }
        }
    
    }
    #bottomChat{
        #bottomChat-left{
           
            #sfondoChatInput{
                height: 5.2vh;
            }
        }
    
    }
    #inputChat{
        input {
            height: 5.2vh;
            width: 41vh;
        }
    }
    #dadi{
        height: 6.5vh;
        top: -22%;
    }
    #descrizioneLuogoChat{
        height: 6.5vh;
    
    }
    #contenitoreAzioni{
            max-height: 28vh;
    
    }
}