*{
    margin:0;
    padding:0;
}
html , body{
    height: 100%;
    width: 100%;
    background-color: black;
}
.menuTop{
    width: 100%;
    padding-top:1.5%;
    ul{

        list-style: none;
        display:flex;
        flex-direction: row;
        height: 18.5vh;
        width:70%;
        margin: auto;
        align-items: center;
        justify-content: center;
        li{
        
            
            img{
                height: 6vh;

            }
          
        
    }
    
    #ghost{
        img{
        height: 8vh;
        }
        padding:0 1em 0 1em;
}


}}


#mappa{
    height: inherit;
    margin: auto;
    display: inherit;

}
.contenitoreMappa{
    height: 70vh;
    }
.mappaDiv{
    position: relative;
    height: inherit;
    width: fit-content;
    margin: auto;
}

#messaggi{
    position: absolute;
    height: 20vh;
    right: 7vh;
    top: 6vh;
    
}


@media only screen and (max-width: 980px){
  
    .contenitoreMappa{
        height:50vh;
    }
    .menuTop{
        ul{
            li{
            
                
                img{
                    height: 4vh;
    
                }
            }
        }
        }
        #messaggi{
            height: 12vh;
        }
              
           


}