#Map-1{

    bottom: 41%;
    right: 20%;

}
.map{

    height: 9vh !important;

}
.chat{
    height: 6vh !important;
}
#subIcons{

    img {
        height: 8vh;
        position: absolute;
    }
    position: absolute;
    height: inherit;
    top: 0;
    width: 100%;
    

}
#Map-2{

    bottom: 35%;
    left: 20%;

}
#Chat-hidden-4{
    
    top: 30%;
    left: 20%;

}

#Chat-hidden-5{
    
    top: 20%;
    left: 50%;

}

#Chat-hidden-6{
    
    top: 30%;
    right: 20%;

}
#returnBackMap{
    position: absolute;
    bottom: 12%;
    left: 4%;
    img { 
        height: 4.5vh;
    }
}

#Chat-1{

    bottom: 40%;
    left: 50%;

}
#Chat-2{
    bottom: 31%;
    right: 11%;
}
#Chat-3{
    bottom: 31%;
    left: 11%;
}
