
#messaggi{
    position: absolute;
    height: 20vh;
    right: 7vh;
    top: 6vh;
    cursor: pointer;
    
    
}
.vibrate{
    animation: vibrate 2s cubic-bezier(.36, .07, .19, .97) infinite;
    transform: translate3d(0, 0, 0);
}

.errorInput{

    border: 1px solid white !important; 
    color: white !important;
    background-color: #9d0d0d !important;

}

.messages{
    position: fixed;
    width: 73%;

    max-height: 70%;
    right: 0;
    display: flex;
    flex-direction: row;
    
}
#message{
    flex: 1;
    overflow-y: auto;
    overflow-x: hidden;
    border: none;
    display: flex;
    flex-direction: column;

    backdrop-filter: blur(9px);

    table{
        flex: 1;
        text-align: center;
        border-collapse: collapse;
        width: 100%;
        max-height: inherit;
        table-layout: fixed;
        table-layout: fixed;
        color: #eeeff0;
        tr{
            height: 6vh;
            cursor: pointer;
                }
        h1{
            font-size: 2.5vh;
            font-family: fontH;
        }

        p{
            text-overflow: ellipsis;
            overflow: hidden;
            font-size: 1.7vh;
        }
        
            th{
                position: sticky;
                top: 0;
                background-color: #013445;
                cursor: default;
            }
            
        
        th:nth-child(2){
            width: 60%;
        }
        th:nth-child(4){
            width: 4%;
        }
}
.buttons{
    flex: 1;
    position: sticky;
    bottom: 0;
    display: flex;
    margin-top: 0.5vh;
    button{
        flex: 1;
        height: 5vh;
        background-color: #013445;
        color: #eeeff0;
        padding: 1vh;
        font-size: 1.6vh;
        border: none;
        cursor: pointer;
        &:hover{

            background-color: #eeeff0;
            color: #013445;
        }
    }
    
}

}
.onBoxRight{
    animation: bounceInRight;
    animation-duration: 1s;
}
.offBoxRight{
    
    
    visibility: hidden;

    

}
.notRead{
    background-color: #07536d;
}
.newMessage{
    font-size: 1.0vh !important;
}
#singleMessage{
    flex: 0.8;
    max-width: 45%;
    background-color: #013445;
    display: flex;
    flex-direction: column;
    color: #eeeff0;
    h1{
        text-align: center;
        margin-top: 1vh;
        flex: 0.1;
        
    }
    .textMessage{
        margin-top: 1vh;
        flex: 1;
        position: relative;
        p{
            margin: 1vh;
        }
        #content{
            overflow-y: auto;
            overflow-wrap: break-word;
            max-height: 30vw;
        }
        #date{
            position: absolute;
            bottom: 0;
        }
        
    }
}
#newMessage{
    width: 100%;
    height: 100%;
    z-index: 1;
    form{
        height: inherit;
        width: inherit;
        display: flex;
        flex-direction: column;
        .campi{
        flex: 1;
        display: flex;
        flex-direction: row;
        .right, .left{
            flex:1;
        }
        .left{
            display: flex;
            flex-direction: column;
            div{
                flex: 1;
                display: flex;
                align-items: center;
                justify-content: center;
            }
            input{
                height: 6vh;
                margin: 1vw;
                width: 100%;
                border: 2px solid #00838f;
                background-color: #013445;
                color:#b7ebf5;

                padding: 1vh;
                font-size: 1.3vh;
                &:focus{
                    background-color: #00838f;
                }

                
            }
        }
        .right{
            display: flex;

            align-items: center;
            justify-content: flex-start;
            textarea{
                height: 15vh;
                flex: 0.95;
                padding: 1vh;
                font-size: 1.3vh;
                border: 2px solid #00838f;
                background-color: #013445;
                color:#b7ebf5;
            }
        }
    }
    .buttons{
        flex: 0.25;
        display: flex;
        width: 100%;
        margin: auto;
        #invia{
            flex: 1;
            border-right: none;
        }
        #annulla{
            flex: 0.4;
        }
        button{
            height: 5vh;
            background-color: #013445;
            border: 2px solid #00838f;
            padding: 1vh;
            font-size: 1.6vh;
            color:#b7ebf5;
            cursor: pointer;
            &:hover{
                color: #013445;
                background-color: #00838f;
            }
        }

    }
}
}
@media only screen and (max-width: 840px){
    .messages{
        width: 100%;
        flex-direction: column-reverse;
        #singleMessage{
            max-width: 100%;
        }
    }
    


}
@media only screen and (max-width: 980px) {

    #messaggi{

        position: absolute;
        height: 13vh;
        right: 4vh;
        top: 3vh;
    
    }
}
@keyframes vibrate {
    0.50%, 10%, 20%, 30%, 40%, 50%
    {
      transform: translate3d(3px, 0, 0);
    }
    5%, 15%, 25%, 35%, 45% 
    {
      transform: translate3d(-3px, 0, 0);
    }
    100% {
      transform: translate3d(3px, 0, 0);
    }
}