#messaggi {
  position: absolute;
  height: 20vh;
  right: 7vh;
  top: 6vh;
  cursor: pointer;
}

.vibrate {
  -webkit-animation: vibrate 2s cubic-bezier(0.36, 0.07, 0.19, 0.97) infinite;
          animation: vibrate 2s cubic-bezier(0.36, 0.07, 0.19, 0.97) infinite;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}

.errorInput {
  border: 1px solid white !important;
  color: white !important;
  background-color: #9d0d0d !important;
}

.messages {
  position: fixed;
  width: 73%;
  max-height: 70%;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

#message {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  overflow-y: auto;
  overflow-x: hidden;
  border: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-backdrop-filter: blur(9px);
          backdrop-filter: blur(9px);
}

#message table {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  text-align: center;
  border-collapse: collapse;
  width: 100%;
  max-height: inherit;
  table-layout: fixed;
  table-layout: fixed;
  color: #eeeff0;
}

#message table tr {
  height: 6vh;
  cursor: pointer;
}

#message table h1 {
  font-size: 2.5vh;
  font-family: fontH;
}

#message table p {
  text-overflow: ellipsis;
  overflow: hidden;
  font-size: 1.7vh;
}

#message table th {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-color: #013445;
  cursor: default;
}

#message table th:nth-child(2) {
  width: 60%;
}

#message table th:nth-child(4) {
  width: 4%;
}

#message .buttons {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  position: -webkit-sticky;
  position: sticky;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 0.5vh;
}

#message .buttons button {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  height: 5vh;
  background-color: #013445;
  color: #eeeff0;
  padding: 1vh;
  font-size: 1.6vh;
  border: none;
  cursor: pointer;
}

#message .buttons button:hover {
  background-color: #eeeff0;
  color: #013445;
}

.onBoxRight {
  -webkit-animation: bounceInRight;
          animation: bounceInRight;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
}

.offBoxRight {
  visibility: hidden;
}

.notRead {
  background-color: #07536d;
}

.newMessage {
  font-size: 1.0vh !important;
}

#singleMessage {
  -webkit-box-flex: 0.8;
      -ms-flex: 0.8;
          flex: 0.8;
  max-width: 45%;
  background-color: #013445;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #eeeff0;
}

#singleMessage h1 {
  text-align: center;
  margin-top: 1vh;
  -webkit-box-flex: 0.1;
      -ms-flex: 0.1;
          flex: 0.1;
}

#singleMessage .textMessage {
  margin-top: 1vh;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  position: relative;
}

#singleMessage .textMessage p {
  margin: 1vh;
}

#singleMessage .textMessage #content {
  overflow-y: auto;
  overflow-wrap: break-word;
  max-height: 30vw;
}

#singleMessage .textMessage #date {
  position: absolute;
  bottom: 0;
}

#newMessage {
  width: 100%;
  height: 100%;
  z-index: 1;
}

#newMessage form {
  height: inherit;
  width: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#newMessage form .campi {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

#newMessage form .campi .right, #newMessage form .campi .left {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

#newMessage form .campi .left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#newMessage form .campi .left div {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#newMessage form .campi .left input {
  height: 6vh;
  margin: 1vw;
  width: 100%;
  border: 2px solid #00838f;
  background-color: #013445;
  color: #b7ebf5;
  padding: 1vh;
  font-size: 1.3vh;
}

#newMessage form .campi .left input:focus {
  background-color: #00838f;
}

#newMessage form .campi .right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

#newMessage form .campi .right textarea {
  height: 15vh;
  -webkit-box-flex: 0.95;
      -ms-flex: 0.95;
          flex: 0.95;
  padding: 1vh;
  font-size: 1.3vh;
  border: 2px solid #00838f;
  background-color: #013445;
  color: #b7ebf5;
}

#newMessage form .buttons {
  -webkit-box-flex: 0.25;
      -ms-flex: 0.25;
          flex: 0.25;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin: auto;
}

#newMessage form .buttons #invia {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  border-right: none;
}

#newMessage form .buttons #annulla {
  -webkit-box-flex: 0.4;
      -ms-flex: 0.4;
          flex: 0.4;
}

#newMessage form .buttons button {
  height: 5vh;
  background-color: #013445;
  border: 2px solid #00838f;
  padding: 1vh;
  font-size: 1.6vh;
  color: #b7ebf5;
  cursor: pointer;
}

#newMessage form .buttons button:hover {
  color: #013445;
  background-color: #00838f;
}

@media only screen and (max-width: 840px) {
  .messages {
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .messages #singleMessage {
    max-width: 100%;
  }
}

@media only screen and (max-width: 980px) {
  #messaggi {
    position: absolute;
    height: 13vh;
    right: 4vh;
    top: 3vh;
  }
}

@-webkit-keyframes vibrate {
  0.50%, 10%, 20%, 30%, 40%, 50% {
    -webkit-transform: translate3d(3px, 0, 0);
            transform: translate3d(3px, 0, 0);
  }
  5%, 15%, 25%, 35%, 45% {
    -webkit-transform: translate3d(-3px, 0, 0);
            transform: translate3d(-3px, 0, 0);
  }
  100% {
    -webkit-transform: translate3d(3px, 0, 0);
            transform: translate3d(3px, 0, 0);
  }
}

@keyframes vibrate {
  0.50%, 10%, 20%, 30%, 40%, 50% {
    -webkit-transform: translate3d(3px, 0, 0);
            transform: translate3d(3px, 0, 0);
  }
  5%, 15%, 25%, 35%, 45% {
    -webkit-transform: translate3d(-3px, 0, 0);
            transform: translate3d(-3px, 0, 0);
  }
  100% {
    -webkit-transform: translate3d(3px, 0, 0);
            transform: translate3d(3px, 0, 0);
  }
}
/*# sourceMappingURL=message.css.map */