#messaggi{
    position: absolute;
    height: 20vh;
    right: 7vh;
    top: 6vh;

    &:hover{
        transform: rotate(228deg);
        transition-duration: 2s;
    }
    
}
#message{
    width: 50%;
    position: fixed;
    right: 0;
    max-height: 76%;
    overflow-y: auto;
    overflow-x: hidden;
    border: none;
    display: flex;
    flex-direction: column;

    visibility: hidden ;

    backdrop-filter: blur(9px);

    table{
        flex: 1;
        text-align: center;
        border-collapse: collapse;
        width: 100%;
        max-height: inherit;
        table-layout: fixed;
        table-layout: fixed;
        color: #eeeff0;
        tr{
            height: 6vh;
            cursor: pointer;
                }
        h1{
            font-size: 2.5vh;
            font-family: fontH;
        }

        p{
            text-overflow: ellipsis;
            overflow: hidden;
            font-size: 1.7vh;
        }
        
            th{
                position: sticky;
                top: 0;
                background-color: #013445;
                cursor: default;
            }
            
        
        th:nth-child(2){
            width: 60%;
        }
        th:nth-child(4){
            width: 4%;
        }
}
.buttons{
    flex: 1;
    position: sticky;
    bottom: 0;
    display: flex;
    margin-top: 0.5vh;
    button{
        flex: 1;
        height: 5vh;
        background-color: #013445;
        color: #eeeff0;
        padding: 1vh;
        font-size: 1.6vh;
        border: none;
        cursor: pointer;
        &:hover{

            background-color: #eeeff0;
            color: #013445;
        }
    }
    
}

}
.onBoxRight{
    animation: opened;
    animation-duration: 0.9s;
    animation-timing-function: linear;
    visibility: visible !important;
}
.offBoxRight{
    animation-name: closed;
    animation-duration: 0.9s;
    animation-timing-function: linear;
}

@keyframes opened {

    0% { width: 0%; opacity: 0; }

    30% { width: 20%; opacity: 0.1; }

    50% { width : 30%; opacity: 0.8; }

    70% { width : 40%; opacity: 0.9; }

    90% { width : 50% ; opacity: 1;}



}

@keyframes closed {

    100% { display: none; opacity: 0;}

    70% { width: 20%; opacity: 0.1;visibility : visible }

    50% { width : 30%; opacity: 0.8;visibility : visible }

    30% { width : 40%; opacity: 0.9;visibility : visible }

    0% { width : 50% ; opacity: 1; visibility : visible} 



}
@media only screen and (max-width: 620px){
    #message{
        width: 100%;
    }


}