#messaggi {
  position: absolute;
  height: 20vh;
  right: 7vh;
  top: 6vh;
}

#messaggi:hover {
  -webkit-transform: rotate(228deg);
          transform: rotate(228deg);
  -webkit-transition-duration: 2s;
          transition-duration: 2s;
}

.messages {
  position: fixed;
  width: 80%;
  max-height: 70%;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

#message {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  overflow-y: auto;
  overflow-x: hidden;
  border: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-backdrop-filter: blur(9px);
          backdrop-filter: blur(9px);
}

#message table {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  text-align: center;
  border-collapse: collapse;
  width: 100%;
  max-height: inherit;
  table-layout: fixed;
  table-layout: fixed;
  color: #eeeff0;
}

#message table tr {
  height: 6vh;
  cursor: pointer;
}

#message table h1 {
  font-size: 2.5vh;
  font-family: fontH;
}

#message table p {
  text-overflow: ellipsis;
  overflow: hidden;
  font-size: 1.7vh;
}

#message table th {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-color: #013445;
  cursor: default;
}

#message table th:nth-child(2) {
  width: 60%;
}

#message table th:nth-child(4) {
  width: 4%;
}

#message .buttons {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  position: -webkit-sticky;
  position: sticky;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 0.5vh;
}

#message .buttons button {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  height: 5vh;
  background-color: #013445;
  color: #eeeff0;
  padding: 1vh;
  font-size: 1.6vh;
  border: none;
  cursor: pointer;
}

#message .buttons button:hover {
  background-color: #eeeff0;
  color: #013445;
}

.onBoxRight {
  -webkit-animation: bounceInRight;
          animation: bounceInRight;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
}

.offBoxRight {
  visibility: hidden;
}

.notRead {
  background-color: #07536d;
}

.newMessage {
  font-size: 1.0vh !important;
}

#singleMessage {
  -webkit-box-flex: 0.8;
      -ms-flex: 0.8;
          flex: 0.8;
  max-width: 45%;
  background-color: #013445;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #eeeff0;
}

#singleMessage h1 {
  text-align: center;
  margin-top: 1vh;
  -webkit-box-flex: 0.2;
      -ms-flex: 0.2;
          flex: 0.2;
}

#singleMessage .textMessage {
  margin-top: 1vh;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

#singleMessage .textMessage p {
  margin: 1vh;
}

#singleMessage .textMessage #content {
  overflow-y: auto;
  overflow-wrap: break-word;
  max-height: 30vw;
}

@media only screen and (max-width: 840px) {
  .messages {
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .messages #singleMessage {
    max-width: 100%;
  }
}
/*# sourceMappingURL=message.css.map */