@charset "UTF-8";
/* scrollbar */
/* width */
::-webkit-scrollbar {
  width: 3px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #d5edfa;
}

* {
  padding: 0;
  margin: 0;
}

.contentSub {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  height: inherit;
}

.button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.button img {
  height: 10.5vh;
  cursor: pointer;
}

.riquadroDestra {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.riquadroDestra #riquadroImmagineStatistiche {
  height: 59vh;
}

.riquadroDestra #inviaMessaggi {
  position: absolute;
  top: 0;
  right: 2.5vh;
  height: 9.5vh;
}

* {
  margin: 0;
  padding: 0;
}

.editProfile {
  position: absolute;
  bottom: -0.2vh;
  height: 3vh;
  width: 29vh;
  text-align: center;
  left: 0;
}

.editProfile img {
  height: inherit;
  opacity: 0.7;
}

.editProfile:hover img {
  opacity: 1;
  cursor: pointer;
}

.levelup {
  position: absolute;
  height: 3.5vh;
  width: 29vh;
  text-align: center;
  left: 0;
}

.levelup img {
  height: inherit;
  opacity: 0.7;
}

.levelup:hover img {
  opacity: 1;
  cursor: pointer;
}

.riquadroContenuto {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  right: 8.8vh;
  top: 7vh;
  text-align: center;
}

.riquadroContenuto .immagineProfilo img {
  height: 34vh;
}

.riquadroContenuto .statisticheProfilo img {
  height: 11.5vh;
}

.statisticheProfilo {
  position: relative;
  font-size: 2vh;
}

.statisticheProfilo ul {
  list-style: none;
}

.statisticheProfilo ul li {
  color: #bff4fe;
}

.statisticheProfilo .leftStat {
  position: absolute;
  top: 3.9vh;
  left: 19.9vh;
}

.statisticheProfilo .leftStat ul {
  position: relative;
}

.statisticheProfilo .leftStat ul li:nth-child(2) {
  position: absolute;
  top: 2.1vh;
  right: 0.2vh;
}

.statisticheProfilo .leftStat ul li:nth-child(3) {
  position: absolute;
  top: 4.3vh;
  right: 0.5vh;
}

.statisticheProfilo .rightStat {
  position: absolute;
  top: 3.9vh;
  right: 6vh;
}

.statisticheProfilo .rightStat ul {
  position: relative;
}

.statisticheProfilo .rightStat ul li:nth-child(2) {
  position: absolute;
  top: 2.1vh;
  left: 0.1vh;
}

.statisticheProfilo .rightStat ul li:nth-child(3) {
  position: absolute;
  left: 0.1vh;
  top: 4.2vh;
}

#icone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  -ms-flex-line-pack: center;
      align-content: center;
  position: absolute;
  right: 5.5vh;
  top: 2.5vh;
}

#icone li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 3.2vh;
  width: 15.3vh;
}

#icone li img {
  height: 2.4vh;
}

/* ADD CLASS */
.chooseClass {
  text-align: center;
}

.chooseClass .selectClass {
  padding: 1em;
}

.chooseClass .selectClass input:checked + .classToSelect {
  -webkit-filter: none;
          filter: none;
}

.chooseClass .selectClass input {
  display: none;
}

.chooseClass .selectClass .classToSelect {
  cursor: pointer;
  background-size: contain;
  background-repeat: no-repeat;
  display: inline-block;
  -webkit-transition: all 100ms ease-in;
  transition: all 100ms ease-in;
  -webkit-filter: brightness(1.8) grayscale(1) opacity(0.7);
          filter: brightness(1.8) grayscale(1) opacity(0.7);
}

.chooseClass .selectClass .classToSelect:hover {
  -webkit-filter: brightness(1.2) grayscale(0.5) opacity(0.9);
          filter: brightness(1.2) grayscale(0.5) opacity(0.9);
}

.chooseClass .selectClass .classToSelect img {
  height: 17vh;
}

.chooseClass #title {
  height: 7.5vh;
}

#conferma {
  background: transparent;
  border: none;
  cursor: pointer;
}

/* ABILITÀ CSS */
.leftBox, .rightBox {
  height: 61.5vh;
  width: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.rightBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 40%;
}

.boxAbilita {
  height: 19.8vh;
  position: relative;
}

.sfondoBox {
  height: inherit;
  position: absolute;
}

.boxSpec {
  height: 18vh;
  width: 44.5vh;
  margin: auto;
  position: relative;
}

.titleSpec {
  position: absolute;
  height: 3vh;
  left: 12vh;
  top: 0.5vh;
}

.titleShowSkill {
  position: absolute;
  height: 3vh;
  left: 50%;
  top: 0.5vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
}

.titleShowSkill .titleAbilita {
  height: inherit;
}

.immaginiSpec {
  position: absolute;
  bottom: 2vh;
  left: 5vh;
}

.immaginiSpec ul {
  list-style: none;
  width: 34.5vh;
  height: 12vh;
}

.immaginiSpec ul li {
  display: inline-block;
  height: 5vh;
}

.immaginiSpec ul li img {
  height: inherit;
}

.immaginiSpec ul li:nth-child(5) {
  clear: left;
}

.emisfero {
  left: 23vh;
}

.abilita {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#iconAddSkill {
  height: 2.5vh;
}

.abilitaLevel1, .abilitaLevel2, .abilitaLevel3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  position: absolute;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  left: 1.5vh;
  width: 97%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.abilitaLevel1 h4, .abilitaLevel2 h4, .abilitaLevel3 h4 {
  font-size: 1.8vh;
  color: white;
}

.abilitaLevel1 .levelsAbilita, .abilitaLevel2 .levelsAbilita, .abilitaLevel3 .levelsAbilita {
  height: 4vh;
}

.abilitaLevel1 .livelli, .abilitaLevel2 .livelli, .abilitaLevel3 .livelli {
  position: relative;
}

.abilitaLevel1 .livelli ul, .abilitaLevel2 .livelli ul, .abilitaLevel3 .livelli ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  position: absolute;
  top: 0.7vh;
  left: 1vh;
  color: white;
  font-size: 2vh;
}

.abilitaLevel1 .livelli ul li, .abilitaLevel2 .livelli ul li, .abilitaLevel3 .livelli ul li {
  padding-right: 2.5vh;
}

.abilitaLevel1 .livelli ul .beyondFive, .abilitaLevel2 .livelli ul .beyondFive, .abilitaLevel3 .livelli ul .beyondFive {
  padding-right: 1em;
}

.abilitaLevel1 {
  top: 4vh;
}

.abilitaLevel2 {
  top: 9vh;
}

.abilitaLevel3 {
  top: 14vh;
}

/* Apprendi Abilita CSS */
.title, .buttonConferma {
  text-align: center;
}

.title img, .buttonConferma img {
  height: 7vh;
}

.containerAbilita {
  height: 46vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.leftContainer, .rightContainer {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.centerContainer {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.centerContainer img {
  height: 20vh;
}

.selected {
  -webkit-box-shadow: 5px  5px 2px #2cc6c8, -5px -5px 2px #2cc6c8, 5px -5px 2px #2cc6c8, -5px  5px 2px #2cc6c8;
          box-shadow: 5px  5px 2px #2cc6c8, -5px -5px 2px #2cc6c8, 5px -5px 2px #2cc6c8, -5px  5px 2px #2cc6c8;
}

.skillToSelect {
  height: 8vh;
  width: 35vh;
  position: relative;
}

.skillToSelect .sfondoRiquadroSkill {
  height: inherit;
  width: inherit;
  position: absolute;
  top: 0;
  left: 0;
}

.skillToSelect .contenitoreText {
  height: inherit;
  width: inherit;
  position: absolute;
  font-family: Arial, Helvetica, sans-serif;
}

.skillToSelect .contenitoreText .title {
  font-size: 1.4vw;
  color: #f5f9ff;
  padding-top: 0.5vh;
}

.skillToSelect .contenitoreText .description {
  font-size: 1.5vh;
  height: 3.9vh;
  width: 90%;
  overflow-y: auto;
  margin: auto;
  padding-left: 0.5vh;
  padding-right: 0.5vh;
  padding-top: 0.5vh;
  color: #cbe5ff;
  text-align: justify;
}
/*# sourceMappingURL=schedaPg.css.map */