@charset "UTF-8";
* {
  font-family: Arial, Helvetica, sans-serif;
}

html {
  font-size: 62.5%;
}

/* scrollbar */
/* width */
::-webkit-scrollbar {
  width: 3px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #d5edfa;
}

/* PLACEHOLDER STYLE */
::-webkit-input-placeholder {
  color: #b7ebf5;
  opacity: 1;
  /* Firefox */
}
:-ms-input-placeholder {
  color: #b7ebf5;
  opacity: 1;
  /* Firefox */
}
::-ms-input-placeholder {
  color: #b7ebf5;
  opacity: 1;
  /* Firefox */
}
::placeholder {
  color: #b7ebf5;
  opacity: 1;
  /* Firefox */
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #b7ebf5;
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #b7ebf5;
}

* {
  padding: 0;
  margin: 0;
}

/* scheda user */
.contentSub {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  height: inherit;
}

.button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.button img {
  height: 10.5vh;
  cursor: pointer;
}

.sfondo {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
}

.riquadroDestra {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.riquadroDestra #riquadroImmagineStatistiche {
  height: 59vh;
}

.riquadroDestra #inviaMessaggi {
  position: absolute;
  top: 0;
  right: 2.5vh;
  height: 9.5vh;
}

* {
  margin: 0;
  padding: 0;
}

.editProfile {
  position: absolute;
  bottom: -0.2vh;
  height: 3vh;
  width: 29vh;
  text-align: center;
  left: 0;
}

.editProfile img {
  height: inherit;
  opacity: 0.7;
}

.editProfile:hover img {
  opacity: 1;
  cursor: pointer;
}

.levelup {
  position: absolute;
  height: 3.5vh;
  width: 29vh;
  text-align: center;
  left: 0;
}

.levelup img {
  height: inherit;
  opacity: 0.7;
}

.levelup:hover img {
  opacity: 1;
  cursor: pointer;
}

#mecha {
  cursor: pointer;
}

#cartellaclinicatasto {
  height: 10vh;
}

.salute {
  position: absolute;
  bottom: 1.5vh;
  right: 7vh;
  width: 64vh;
  height: 5vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.salute .punti {
  height: inherit;
  width: 27.5vh;
}

.salute .punti img {
  height: inherit;
}

.riquadroContenuto {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  right: 8.8vh;
  top: 7vh;
  text-align: center;
}

.riquadroContenuto .immagineProfilo {
  overflow: hidden;
  height: 34vh;
}

.riquadroContenuto .immagineProfilo img {
  height: 34vh;
}

.riquadroContenuto .statisticheProfilo img {
  height: 11.5vh;
}

.statisticheProfilo {
  position: relative;
  font-size: 2vh;
}

.statisticheProfilo ul {
  list-style: none;
}

.statisticheProfilo ul li {
  color: #bff4fe;
}

.statisticheProfilo .leftStat {
  position: absolute;
  top: 3.9vh;
  left: 19.9vh;
}

.statisticheProfilo .leftStat ul {
  position: relative;
}

.statisticheProfilo .leftStat ul li:nth-child(2) {
  position: absolute;
  top: 2.1vh;
  right: 0.2vh;
}

.statisticheProfilo .leftStat ul li:nth-child(3) {
  position: absolute;
  top: 4.3vh;
  right: 0.5vh;
}

.statisticheProfilo .rightStat {
  position: absolute;
  top: 3.9vh;
  right: 6vh;
}

.statisticheProfilo .rightStat ul {
  position: relative;
}

.statisticheProfilo .rightStat ul li:nth-child(2) {
  position: absolute;
  top: 2.1vh;
  left: 0.1vh;
}

.statisticheProfilo .rightStat ul li:nth-child(3) {
  position: absolute;
  left: 0.1vh;
  top: 4.2vh;
}

#icone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  -ms-flex-line-pack: center;
      align-content: center;
  position: absolute;
  right: 5.5vh;
  top: 2.5vh;
}

#icone li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 3.2vh;
  width: 15.3vh;
}

#icone li img {
  height: 2.4vh;
}

#namePg, #surnamePg {
  position: absolute;
  text-align: center;
  overflow-x: hidden;
}

#namePg p, #surnamePg p {
  color: #bff4fe;
  font-size: 1.2vh;
}

#namePg {
  top: 3.5vh;
  width: 11vh;
  left: 47.5vh;
}

#surnamePg {
  right: 12.5vh;
  top: 3.5vh;
  width: 11vh;
}

#iconeFooter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  -ms-flex-line-pack: center;
      align-content: center;
  position: absolute;
  top: 0.5vh;
  left: 27.5vh;
  width: 58vh;
}

#iconeFooter li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 3.8vh;
  width: 19.4vh;
}

#iconeFooter li img {
  height: 2vh;
}

.expShow {
  width: 26vh;
  height: 3.2vh;
  position: absolute;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.expShow img {
  height: 1.5vh;
}

.expShow p {
  color: #bff4fe;
  font-size: 1.8vh;
}

#logImmagine {
  position: absolute;
  top: 0;
  left: 38vh;
  height: 9.5vh;
}

.emisferoShow, .genereShow, .mechaShow {
  position: absolute;
}

.emisferoShow img, .genereShow img, .mechaShow img {
  height: 2vh;
}

.emisferoShow {
  height: 3.5vh;
  width: 18vh;
  left: 28.5vh;
  top: 1.2vh;
}

.mechaShow {
  height: 3.5vh;
  width: 29vh;
  left: 0;
}

.genereShow {
  height: 3.5vh;
  width: 29vh;
  left: 0;
}

/* CONTATTA FORM */
.sendMessage {
  visibility: hidden;
  height: 30vh;
  width: 58.7vh;
  background-color: #014358;
  position: absolute;
  right: 9.5vh;
  top: 7vh;
  margin: auto;
  z-index: 1;
  -webkit-transform: scaleY(0);
          transform: scaleY(0);
  -webkit-transform-origin: top;
          transform-origin: top;
  -webkit-box-shadow: 5px  5px 2px #2cc6c8, -5px -5px 2px #2cc6c8, 5px -5px 2px #2cc6c8, -5px  5px 2px #2cc6c8;
          box-shadow: 5px  5px 2px #2cc6c8, -5px -5px 2px #2cc6c8, 5px -5px 2px #2cc6c8, -5px  5px 2px #2cc6c8;
}

.sendMessage form {
  height: inherit;
  width: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.sendMessage form .campi {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.sendMessage form .campi .right, .sendMessage form .campi .left {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.sendMessage form .campi .left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.sendMessage form .campi .left div {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.sendMessage form .campi .left input {
  height: 6vh;
  width: 26vh;
  border: 2px solid #00838f;
  background-color: #013445;
  color: #b7ebf5;
  padding: 1vh;
  font-size: 1.3vh;
}

.sendMessage form .campi .left input:focus {
  background-color: #00838f;
}

.sendMessage form .campi .right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.sendMessage form .campi .right textarea {
  height: 18vh;
  -webkit-box-flex: 0.95;
      -ms-flex: 0.95;
          flex: 0.95;
  padding: 1vh;
  font-size: 1.3vh;
  border: 2px solid #00838f;
  background-color: #013445;
  color: #b7ebf5;
}

.sendMessage form .buttons {
  -webkit-box-flex: 0.25;
      -ms-flex: 0.25;
          flex: 0.25;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 56vh;
  margin: auto;
}

.sendMessage form .buttons #invia {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  border-right: none;
}

.sendMessage form .buttons #annulla {
  -webkit-box-flex: 0.4;
      -ms-flex: 0.4;
          flex: 0.4;
}

.sendMessage form .buttons button {
  height: 5vh;
  background-color: #013445;
  border: 2px solid #00838f;
  padding: 1vh;
  font-size: 1.6vh;
  color: #b7ebf5;
  cursor: pointer;
}

.sendMessage form .buttons button:hover {
  color: #013445;
  background-color: #00838f;
}

.on {
  visibility: visible;
  -webkit-transition: 0.8s;
  transition: 0.8s;
  -webkit-transform: scaleY(1);
          transform: scaleY(1);
}

.leaveBox {
  visibility: hidden;
  -webkit-transition: 0.8s;
  transition: 0.8s;
  -webkit-transform: scaleY(0);
          transform: scaleY(0);
}

.errorInput {
  border: 1px solid white !important;
  color: white !important;
  background-color: #9d0d0d !important;
}

/* ADD CLASS */
.chooseClass {
  text-align: center;
}

.chooseClass .selectClass {
  padding: 1em;
}

.chooseClass .selectClass input:checked + .classToSelect {
  -webkit-filter: none;
          filter: none;
}

.chooseClass .selectClass input {
  display: none;
}

.chooseClass .selectClass .classToSelect {
  cursor: pointer;
  background-size: contain;
  background-repeat: no-repeat;
  display: inline-block;
  -webkit-transition: all 100ms ease-in;
  transition: all 100ms ease-in;
  -webkit-filter: brightness(1.8) grayscale(1) opacity(0.7);
          filter: brightness(1.8) grayscale(1) opacity(0.7);
}

.chooseClass .selectClass .classToSelect:hover {
  -webkit-filter: brightness(1.2) grayscale(0.5) opacity(0.9);
          filter: brightness(1.2) grayscale(0.5) opacity(0.9);
}

.chooseClass .selectClass .classToSelect img {
  height: 17vh;
}

.chooseClass #title {
  height: 7.5vh;
}

#conferma {
  background: transparent;
  border: none;
  cursor: pointer;
}

/* ABILITÀ CSS */
.leftBox, .rightBox {
  height: 61.5vh;
  width: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.rightBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 40%;
}

.boxAbilita {
  height: 19.8vh;
  position: relative;
}

.sfondoBox {
  height: inherit;
  position: absolute;
}

.boxSpec {
  height: 18vh;
  width: 44.5vh;
  margin: auto;
  position: relative;
}

.titleShowCenter {
  position: absolute;
  height: 3vh;
  left: 50%;
  top: 0.5vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
}

.titleShowCenter .titleAbilita {
  height: inherit;
}

.titleSpec {
  height: 2.5vh;
}

.immaginiSpec {
  position: absolute;
  bottom: 2vh;
  left: 5vh;
}

.immaginiSpec ul {
  list-style: none;
  width: 34.5vh;
  height: 12vh;
}

.immaginiSpec ul li {
  display: inline-block;
  height: 5vh;
}

.immaginiSpec ul li img {
  height: inherit;
}

.immaginiSpec ul li:nth-child(5) {
  clear: left;
}

.emisfero {
  left: 23vh;
}

.abilita {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#iconAdd {
  height: 2.5vh;
}

.addSpec {
  height: 2vh !important;
}

.abilitaLevel1, .abilitaLevel2, .abilitaLevel3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  position: absolute;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  left: 1.5vh;
  width: 96%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.abilitaLevel1 h4, .abilitaLevel2 h4, .abilitaLevel3 h4 {
  font-size: 1.3vh;
  color: white;
}

.abilitaLevel1 .levelsAbilita, .abilitaLevel2 .levelsAbilita, .abilitaLevel3 .levelsAbilita {
  height: 3vh;
}

.abilitaLevel1 .livelli, .abilitaLevel2 .livelli, .abilitaLevel3 .livelli {
  position: relative;
}

.abilitaLevel1 .livelli ul, .abilitaLevel2 .livelli ul, .abilitaLevel3 .livelli ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
  position: absolute;
  height: 3vh;
  width: 100%;
  font-size: 1.4vh;
  color: white;
  text-decoration: none;
}

.abilitaLevel1 .livelli ul a, .abilitaLevel2 .livelli ul a, .abilitaLevel3 .livelli ul a {
  color: white;
  text-decoration: none;
}

.abilitaLevel1 .livelli ul li, .abilitaLevel2 .livelli ul li, .abilitaLevel3 .livelli ul li {
  width: 2.8vh;
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.abilitaLevel1 .livelli ul .levelGotten, .abilitaLevel2 .livelli ul .levelGotten, .abilitaLevel3 .livelli ul .levelGotten {
  background-color: #00616f;
}

.abilitaLevel1 .livelli ul .beyondFive, .abilitaLevel2 .livelli ul .beyondFive, .abilitaLevel3 .livelli ul .beyondFive {
  padding-right: 1em;
}

.abilitaLevel1 {
  top: 4vh;
}

.abilitaLevel2 {
  top: 9vh;
}

.abilitaLevel3 {
  top: 14vh;
}

/* Apprendi Skill CSS */
.title, .buttonConferma {
  text-align: center;
}

.title img, .buttonConferma img {
  height: 7vh;
}

.containerAbilita {
  height: 46vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.leftContainer, .rightContainer {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.centerContainer {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.centerContainer img {
  height: 20vh;
}

.selectedWithShadow {
  -webkit-box-shadow: 5px  5px 2px #2cc6c8, -5px -5px 2px #2cc6c8, 5px -5px 2px #2cc6c8, -5px  5px 2px #2cc6c8;
          box-shadow: 5px  5px 2px #2cc6c8, -5px -5px 2px #2cc6c8, 5px -5px 2px #2cc6c8, -5px  5px 2px #2cc6c8;
}

.selectedWithOpacity {
  opacity: 0.5;
}

.skillToSelect {
  height: 8vh;
  width: 35vh;
  position: relative;
}

.skillToSelect .contenitoreText {
  height: inherit;
  width: inherit;
  position: absolute;
  font-family: Arial, Helvetica, sans-serif;
}

.skillToSelect .contenitoreText .title {
  font-size: 1.7vh;
  color: #f5f9ff;
  padding-top: 0.5vh;
}

.skillToSelect .contenitoreText .description {
  font-size: 1.5vh;
  height: 3.9vh;
  width: 90%;
  overflow-y: auto;
  margin: auto;
  padding-left: 0.5vh;
  padding-right: 0.5vh;
  padding-top: 0.5vh;
  color: #cbe5ff;
  text-align: justify;
}

.sfondoRiquadroSkill {
  height: inherit;
  width: inherit;
  position: absolute;
  top: 0;
  left: 0;
}

.titleHeight {
  height: 4.5vh;
}

/* APPRENDI SPECIALIZAZZIONE */
.centerToAbsolutePosition {
  height: inherit;
  position: absolute;
  left: 50%;
  top: 0.9vh;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
}

.titleWithBackground {
  width: 100%;
  height: 7vh;
  position: relative;
}

#sfondoTitle {
  width: inherit;
  height: inherit;
}

.containerWithBackground {
  height: 46vh;
  width: 100%;
  position: relative;
}

.containerWithBackground .containerAbilita {
  height: 45vh;
}

.totalWidth {
  width: 100%;
}

.riquadroSpec {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 97%;
  height: 7.5vh;
}

.modifyHeWSpec {
  height: inherit;
  width: 47vh;
}

.heightSfondoSpecDesc {
  height: 6vh;
}

.iconSpec {
  height: 6.1;
}

.logoSpec {
  height: 7.2vh;
  width: 8vh;
  position: relative;
}

#iconeSpecs {
  height: 7vh;
}

/* SHOW SPECIALIZZAZIONI NELLA PAGINE SHOW SKILL */
.logoSpecShow {
  height: 5vh;
  width: 6vh;
  position: relative;
}

#iconeSpecsShow {
  height: 4.9vh;
}

/* BACKGROUND */
#immagineBgLeft {
  height: 50vh;
  cursor: auto;
}

.player {
  position: absolute;
  top: 17.5vh;
  left: 19vh;
}

.player .play, .player .stop {
  background: transparent;
  border: none;
}

.player .play img, .player .stop img {
  height: 2vh;
}

.ContentRight {
  position: absolute;
  height: 48vh;
  width: 55vh;
  left: 4vh;
  color: #bff4fe;
  font-size: 1.5vh;
  overflow-x: auto;
  text-align: justify;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.ContentRight p {
  width: inherit;
  overflow: hidden;
}

.background {
  -webkit-box-flex: 3;
      -ms-flex: 3;
          flex: 3;
  overflow-y: scroll;
}

.notefato {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  overflow: auto;
}

.titleNoteFato {
  text-align: center;
  padding-top: 1vh;
}

.titleNoteFato img {
  height: 1.5vh;
}

.parentRelative {
  position: relative;
}

.titleBackground {
  position: absolute;
  top: 4vh;
  left: 27vh;
}

.titleBackground img {
  height: 1.2vh;
}

/* UPDATE BACKGROUND */
#backgroundForm {
  position: absolute;
  top: 6vh;
  left: 3vh;
  height: 52vh;
  width: 57vh;
}

.contentUpdateBackground {
  position: absolute;
  height: 49vh;
  width: inherit;
  left: 0;
  font-size: 1.5vh;
  overflow-x: auto;
  text-align: justify;
}

#backgroundTextarea {
  width: inherit;
  height: 45vh;
  padding: 1vh;
  background: transparent;
  border: none;
  color: #bff4fe;
  resize: none;
  font-size: 1.6vh;
}

#musicEditBackground {
  height: 2.5vh;
}

#linkMusic {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #2cc6c8;
  color: #bff4fe;
  font-size: 1.6vh;
}

#musicLinkDiv {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

#confermaBackground {
  background: transparent;
  border: none;
  position: absolute;
  bottom: 1vh;
  left: 24vh;
  cursor: pointer;
}

#confermaBackground span img {
  height: 1.7vh;
}

/* Medical Record */
#immagineMedicalRecordLeft {
  height: 50vh;
  width: 38vh;
  cursor: auto;
}

#titleMedicalRecord {
  left: 31.2vh;
}

#riquadroImmagineMedicalRecord {
  height: 59vh;
  width: 73vh;
}

.contentRiquadroDestro {
  position: absolute;
  height: 48vh;
  width: 64.5vh;
  left: 4vh;
  color: #bff4fe;
  font-size: 1.5vh;
  overflow-x: auto;
  text-align: justify;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.Sub {
  height: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#totalBody {
  height: 48vh;
  position: relative;
}

.descrizioneFerite {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 17vh;
  position: relative;
}

.boxFerite {
  width: 20vh;
  height: inherit;
}

.boxShadow {
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.textInRiquadro {
  position: absolute;
  top: 0.3vh;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.textInRiquadro img {
  height: 3vh;
}

.hurts {
  height: 13.5vh;
  font-size: 1.3vh;
  width: 17vh;
  overflow: auto;
  margin-top: 0.7vh;
}

.hurts p {
  padding: 0.2vh;
  padding-left: 0.5vh;
  border-bottom: 1px solid #006a86;
  margin-bottom: 0.7vh;
}

.hurts #lastModifica {
  border-bottom: 0;
  font-size: 1.1vh;
  margin-top: 1.5vh;
}

.riquadroParteLesa {
  position: absolute;
}

.Topm {
  top: 0.5vh;
}

.Topm img {
  height: 7vh;
}

.Topf {
  top: 0.5vh;
}

.Topf img {
  height: 8vh;
}

.Middlem {
  top: 8vh;
}

.Middlem img {
  height: 22vh;
}

.Middlef {
  top: 6.5vh;
}

.Middlef img {
  height: 23vh;
}

.Bottomm {
  bottom: 0;
}

.Bottomm img {
  height: 18vh;
}

.Bottomf {
  bottom: 0;
}

.Bottomf img {
  height: 19vh;
}

#titleEquip {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  position: absolute;
  top: -2.5vh;
  left: 30.3vh;
}

#titleEquip img {
  height: 1.2vh;
}

/* EQUIPED PART */
.equipContent {
  height: inherit;
}

.equipContent .equippedSfondo {
  height: 59vh;
  position: absolute;
  top: 1.5vh;
  width: 82vh;
}

.equipContent .left, .equipContent .right {
  -webkit-box-flex: 0.5;
      -ms-flex: 0.5;
          flex: 0.5;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.equipContent .left {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.equipContent .right {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.equipContent .equipped {
  height: 11vh;
  width: 13vh;
  position: relative;
}

.equipContent .equipped #riquadroObjectEquipped {
  width: inherit;
  height: inherit;
}

.equipContent .center {
  -webkit-box-flex: 1.5;
      -ms-flex: 1.5;
          flex: 1.5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.equipContent .center .top, .equipContent .center .bottom {
  -webkit-box-flex: 1.2;
      -ms-flex: 1.2;
          flex: 1.2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.equipContent .center .top {
  margin-top: -0.1vh;
}

.equipContent .center .bottom {
  margin-top: 1.6vh;
}

.equipContent .center .middle {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.equipContent .equip {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 48.5vh;
  position: absolute;
  top: 6.5vh;
  width: 73.5vh;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.equipContent .goToOwned {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.equipContent .goToOwned img {
  height: 15vh;
  cursor: pointer;
}

.equipContent .topTransition {
  -webkit-transform-origin: top !important;
          transform-origin: top !important;
}

/*  EQUIPS OWNED */
.equipOwnedContent {
  width: 105vh;
  height: 60vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.equipOwnedContent .owned {
  height: 13vh;
  width: 14vh;
  position: relative;
  margin-right: 1vh;
}

.equipOwnedContent .owned #riquadroObjectOwned {
  width: inherit;
  height: inherit;
}

.titleCenter {
  width: 100%;
  text-align: center;
}

#titleDep {
  height: 5vh;
  padding-top: 1vh;
}

.previewImage {
  height: inherit;
  width: inherit;
  position: absolute;
  top: 0;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  text-decoration: none;
}

.previewImage a {
  color: white;
}

.previewImage img {
  width: 10.5vh;
  height: 11.3vh;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}

.previewImage .BoxContent {
  position: absolute;
  top: 20%;
  width: 85%;
  left: 0;
  right: 0;
  margin: auto;
  overflow-wrap: break-word;
  height: 10vh;
  -webkit-transform: scaleY(0);
          transform: scaleY(0);
  -webkit-transition: 0.8s;
  transition: 0.8s;
  -webkit-transform-origin: bottom;
          transform-origin: bottom;
}

.previewImage .BoxContent h4 {
  font-family: fontH;
}

.previewImage .BoxContent .descrizione {
  height: 8vh;
  overflow-y: scroll;
}

.previewImage .BoxContent .descrizione p {
  font-size: 1.1vh;
}

.previewImage:hover .BoxContent {
  -webkit-transform: scaleY(1);
          transform: scaleY(1);
}

.previewImage:hover img {
  opacity: 0.5;
}

/* MECHA */
.boxParent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: inherit;
  width: inherit;
}

.boxParent .left, .boxParent .right {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.boxParent .center {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.boxParent .center .statistics {
  display: none;
}

.boxParent .center img {
  height: 44vh;
}

.boxParent .center:hover .statistics {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  height: 26vh;
  width: 35vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #063e52;
  border: 1px solid #f0f8ff;
  opacity: 0.9;
  color: white;
  bottom: 0;
  right: 0;
  left: 0;
  top: 0;
  margin: auto;
}

.boxParent .center:hover .statistics .statistic {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.boxParent .center:hover .statistics .health {
  -webkit-box-flex: 1.7;
      -ms-flex: 1.7;
          flex: 1.7;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.boxParent .center:hover .statistics .stats {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.boxParent .center:hover .statistics .stats div {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  text-align: center;
  padding-top: 0.5vh;
}

.boxParent .center:hover .statistics .stats div h5 {
  font-family: fontH;
  font-size: 1.5vh;
}

.boxParent .center:hover .statistics .stats div p {
  font-size: small;
}

.boxParent .center:hover .statistics .title {
  width: 23vh;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  border-bottom: 1px solid white;
}

.boxParent .center:hover .statistics .title h4 {
  padding-bottom: 0.5vh;
  font-family: fontH;
  font-size: 2.5vh;
}

.boxParent .center:hover .statistics .descrizione {
  height: 11.5vh;
  margin-top: 1vh;
  overflow: auto;
  overflow-wrap: break-word;
}

.boxParent .center:hover .statistics .descrizione p {
  font-size: 1.8vh;
  padding: 0.3vh;
  overflow: auto;
  overflow-wrap: break-word;
}

.boxParent .boxChild {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  position: relative;
}

.boxParent .boxContent {
  position: absolute;
  top: 3.5vh;
  width: 31.2vh;
  height: 5.5vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.boxParent .boxContent .descrizione {
  font-size: 1.5vh;
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
  text-align: center;
  padding-left: 0.7vh;
  color: white;
  overflow: auto;
  overflow-wrap: break-word;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.boxParent .boxContent .descrizione h4 {
  font-family: fontH;
  font-size: 1.8vh;
}

.boxParent .boxContent .descrizione p {
  font-size: 1.4vh;
}

.boxParent .boxContent .image {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  position: relative;
}

.boxParent .boxContent .image .sfondoMicroBox {
  height: 5.5vh;
  position: absolute;
}

.boxParent .boxContent .image .centerLeft {
  left: 0.5vh;
}

.boxParent .boxContent .image .centerRight {
  right: 0.5vh;
}

.boxParent .boxContent .image .centerRightImageObject {
  right: 0.7vh;
}

.boxParent .toLeft {
  left: 5vh;
}

.boxParent .toRight {
  right: 5vh;
}

.boxParent .sfondoBox {
  height: 9vh;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}

.boxParent .boxTitle {
  position: absolute;
  top: 2.5vh;
  text-align: center;
}

.boxParent .boxTitle h6 {
  color: white;
  font-family: fontH;
  font-size: 1.4vh;
}

.boxParent .dx {
  right: 13vh;
}

.boxParent .sx {
  left: 13vh;
}

.nameMecha {
  position: absolute;
  bottom: -0.2vh;
  height: 3vh;
  width: 29vh;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nameMecha h5 {
  font-family: fontH;
  color: white;
  font-size: 2vh;
}

/* BOX IN SHOWMECHA */
.assignedBy {
  text-align: right;
  padding-bottom: 0.5vh;
}

.showHurts {
  background-color: #9d0d0d !important;
  width: 40vh;
  height: 20vh;
}

.statistics {
  width: 40vh;
  height: 19vh;
}

/* showOptionEditsUser */
.displayFlexRow {
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.displayFlexRow .column1, .displayFlexRow .column2 {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  cursor: pointer;
  border: 1rem solid black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: -webkit-transform 0.6s;
  transition: -webkit-transform 0.6s;
  transition: transform 0.6s;
  transition: transform 0.6s, -webkit-transform 0.6s;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  position: relative;
  background-color: #013445;
}

.displayFlexRow .column1 h1, .displayFlexRow .column2 h1 {
  color: white;
  font-family: FontH;
  font-size: 2rem;
}

.displayFlexRow .column1 .card, .displayFlexRow .column2 .card {
  position: absolute;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  text-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.displayFlexRow .column1 .retro, .displayFlexRow .column2 .retro {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
  width: 75%;
}

.displayFlexRow .column1 .retro h6, .displayFlexRow .column2 .retro h6 {
  color: white;
  font-size: 1rem;
  width: 80%;
  margin: 1rem;
}

.displayFlexRow .column1:hover, .displayFlexRow .column2:hover {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

/* editUser1 */
.displayFlexColumn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.displayFlexColumn .firstRow {
  -webkit-box-flex: 0.3;
      -ms-flex: 0.3;
          flex: 0.3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.displayFlexColumn h1 {
  color: white;
  font-family: FontH;
  font-size: 3.5rem;
}

.displayFlexColumn .secondRow {
  -webkit-box-flex: 1.5;
      -ms-flex: 1.5;
          flex: 1.5;
}

.right, .left {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.right input, .left input {
  height: 5rem;
  border: 2px solid #00838f;
  background-color: #013445;
  color: #b7ebf5;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 1vh;
  margin: 2.5rem;
  font-size: 1.3vh;
}

.right input:focus, .left input:focus {
  background-color: #00838f;
}

.thirdRow {
  -webkit-box-flex: 0.4;
      -ms-flex: 0.4;
          flex: 0.4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.thirdRow button {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-top: 2.5rem;
  margin-right: 2.5rem;
  margin-bottom: 2.5rem;
  background-color: #013445;
  border: 2px solid #00838f;
  padding: 1vh;
  font-size: 1.5rem;
  color: #b7ebf5;
  cursor: pointer;
}

.thirdRow button:hover {
  color: #013445;
  background-color: #00838f;
}

@font-face {
  font-family: fontH;
  src: url(../../font/FullStopLucca-Bold.ttf);
}

@media only screen and (max-width: 1200px) {
  html {
    font-size: 50%;
  }
}

@media only screen and (max-width: 992px) {
  html {
    font-size: 40%;
  }
}

@media only screen and (max-width: 768px) {
  html {
    font-size: 50%;
  }
}

@media only screen and (max-width: 480px) {
  html {
    font-size: 20%;
  }
}
/*# sourceMappingURL=schedaPg.css.map */