*{
    padding:0;
    margin:0;
}

.contentSub{
    display:flex;
   justify-content: space-evenly;
   height: inherit;
}
.button{
    
    img{
        height: 10.5vh;
        cursor: pointer;
    }
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;

}
.riquadroDestra{
    #riquadroImmagineStatistiche{
    height: 59vh;

    }
    #inviaMessaggi{
        position: absolute;
        top: 0;
        right: 2.5vh;
        height: 9.5vh;
    }
    display: flex;
    align-items: center;
}
*{
    margin:0;
    padding:0;

}
.editProfile{
    position: absolute;
    bottom: -0.2vh;
    height: 3vh;
    width: 29vh;
    text-align: center;
    left: 0;
    img{
        height: inherit;
        opacity: 0.7;
    }
    &:hover{
        img{
            opacity:1;
            cursor: pointer;
        }
    }
}
.levelup{
    position: absolute;
    height: 3.5vh;
    width: 29vh;
    text-align: center;
    left: 0;

    img{
        height: inherit;
        opacity: 0.7;
    }
    &:hover{
        img{
            opacity:1;
            cursor: pointer;
        }
    }
}

.riquadroContenuto{
    
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 8.8vh;
    top:7vh;
    text-align: center;
    .immagineProfilo{
        img{
            height: 34vh;
        }
    }
    .statisticheProfilo{
        img{
            height: 11.5vh;
        }
    }
}

.statisticheProfilo{
    position: relative;
    font-size: 2vh;
    ul{
        list-style: none;
    li{
        
        color:#bff4fe;
    }
}
    .leftStat{
        position: absolute;
        top: 3.9vh;
        left: 19.9vh;
        ul{
            position: relative;
            li:nth-child(2){
                position: absolute;
                top:2.1vh;
                right:0.2vh;
            }
            li:nth-child(3){
                position: absolute;
                top:4.3vh;
                right: 0.5vh;
            }

        }
    }
    .rightStat{
        position: absolute;
        top: 3.9vh;
        right: 6vh;
        ul{
            position: relative;
            li:nth-child(2){
                position: absolute;
                top:2.1vh;
                left:0.1vh;

            }
            li:nth-child(3){
                position: absolute;
                left:0.1vh;
                top:4.2vh;
                
            }
        }

    }
}
#icone{
    display: flex;
    list-style: none;
    align-content: center;
    position: absolute;
    right: 5.5vh;
    top: 2.5vh;
    li{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 3.2vh;
        width: 15.3vh;
    
    img{
        height: 2.4vh;
    }
}

}

/* ADD CLASS */
.chooseClass{
    text-align: center;

.selectClass{
    padding: 1em;
    input:checked +.classToSelect{
        filter: none;
    }
    input{
        display: none;
    }
.classToSelect{
    cursor:pointer;
    background-size:contain;
    background-repeat:no-repeat;
    display:inline-block;
            transition: all 100ms ease-in;
            filter: brightness(1.8) grayscale(1) opacity(.7);
            &:hover{
            
                filter: brightness(1.2) grayscale(.5) opacity(.9);
            }
    img{
        height: 17vh;
    }
}}

#title{
    height: 7.5vh;
}
}
#conferma{
    background: transparent;
    border: none;
    cursor: pointer;
}
/* ABILITÀ CSS */ 
.leftBox, .rightBox{
    height: 61.5vh;
    width: 60%;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
  
}
.rightBox{
    display: flex;
    justify-content: space-evenly;
        width: 40%;
    
}
.boxAbilita {
    height: 19.8vh;
    position: relative;
    
}
.sfondoBox{
    height: inherit;
    position: absolute;
}
.boxSpec{
    height: 18vh;
    width: 44.5vh;
    margin: auto;
    position: relative;
}
.titleSpec{
    position: absolute;
    height: 3vh;
    left: 12vh;
    top:0.5vh
}
.titleAbilita{
    position: absolute;
    height: 3vh;
    left: 25vh;
    top: 0.5vh;
    
}
.immaginiSpec{
    position: absolute;
    bottom: 2vh;
    left: 5vh;
    ul{
        list-style: none;
        width: 34.5vh;
        height: 12vh;
        li{
            display: inline-block;
            height: 5vh;
            img{
            height: inherit;
            }
        }
        li:nth-child(5){
            clear:left;
        }
    }
}
.emisfero{
    left: 23vh;
}
.abilita{
    display: flex;
    
}
#iconAddSkill0,#iconAddSkill1,#iconAddSkill2{
    position: absolute;
    left:33vh;
    height: 3.5vh;
}
#iconAddSkill0{
    top: 4.5vh;
}
#iconAddSkill1{
    top:9.5vh;
}
#iconAddSkill2{
    top:14.5vh;
}
.abilitaLevel1,.abilitaLevel2,.abilitaLevel3{
    display: flex;
    flex-direction: row;
    position: absolute;
    align-items: center;
    left:1.5vh;
    width: 97%;
    justify-content: space-between;
    h4{
        font-size: 1.8vh;
        color: white;
    }
    .levelsAbilita{
        height: 4vh;
        
    }
    .livelli{
        position: relative;
    ul{
        display: flex;
        list-style: none;
        position: absolute;
        top: 0.7vh;
        left: 1vh;
        color: white;
        font-size: 2vh;
        li{
            padding-right: 2.5vh;
    
        }
        .beyondFive{
            padding-right: 1em;
        }
    }
}
}
.abilitaLevel1{
    top: 4vh;

    
}
.abilitaLevel2{
    top:9vh;
}
.abilitaLevel3{
    top:14vh;
}

/* Apprendi Abilita CSS */ 
