*{
    padding:0;
    margin:0;
}
.contentSub{
    display:flex;
   justify-content: space-evenly;
   height: inherit;
}
.button{
    
    img{
        height: 10.5vh;
        cursor: pointer;
    }
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;

}
.riquadroDestra{
    #riquadroImmagineStatistiche{
    height: 59vh;

    }
    #inviaMessaggi{
        position: absolute;
        top: 0;
        right: 0.5vh;
        height: 11.5vh;
    }
    display: flex;
    align-items: center;
}
*{
    margin:0;
    padding:0;

}
.editProfile{
    position: absolute;
    bottom: -0.2vh;
    height: 3vh;
    width: 29vh;
    text-align: center;
    left: 0;
    img{
        height: inherit;
        opacity: 0.7;
    }
    &:hover{
        img{
            opacity:1;
            cursor: pointer;
        }
    }
}
.levelup{
    position: absolute;
    height: 3.5vh;
    width: 29vh;
    text-align: center;
    left: 0;
    img{
        height: inherit;
        opacity: 0.7;
    }
    &:hover{
        img{
            opacity:1;
            cursor: pointer;
        }
    }
}

.riquadroContenuto{
    
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 8.7vh;
    text-align: center;
    .immagineProfilo{
        img{
            height: 34vh;
        }
    }
    .statisticheProfilo{
        img{
            height: 14vh;
        }
    }
}