*{
    margin:0;
    padding:0;
}
html, body{
    height: 100%;
    width: 100%;
}
section{
    margin: auto;
    width: 43%;
    font-family: -apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,Helvetica,Arial,sans-serif,'Apple Color Emoji','Segoe UI Emoji','Segoe UI Symbol';
    text-align: justify;
    span{
        padding:1em;
    }
    
}