html, body{
    background-color: black;
    height: 97%;
}

section{
    display: flex;
    justify-content: space-around;
    
    
}
.imgEntra{
    position: relative;
    height: 99vh;
}
#welcomeImg{
    height: inherit;
    
}

.pegiBottomDiv{
    bottom: 2%;
    left: 32.5%;
    position: absolute;
    width: 50%;
    img{
       
        height: 10vh;
        padding: 0.5%;
            
            
        
    }
}



#entraText{
    position: absolute;
    top: 35%;
    left: 37.25%;
    height: 9vh;
    opacity: 0.7;
    &:hover{
        opacity:1;
    }
}


   

/* welcome 2 css */
.leftButton , .rightButton{
    cursor: pointer;
    opacity: 0.75;
    &:hover{
        opacity: 1;
    }
}






@media only screen and (max-width: 500px){
    #welcomeImg{
        height: 75vh;
    }

}



/* font used */
@font-face {
    font-family: fontTitle;
    src: url(../font/FullStopLucca-ExtraboldItalic.ttf);
  }

@font-face {
    font-family: fontTitleGotham;
    src: url(../font/Gotham_Ultra.otf);
  }
  @font-face {
    font-family: fontTitleGothamUltra;
    src: url(../font/Gotham_Rounded_Light.otf);
  }

