*
{
margin:0;
padding:0;
}
section{
    position: relative;
}
#sfondo{
    height: 100%;
    width: 100%;
}
.ContainerSinistra , .ContainerDestra , .ContainerCentrale{
    position: absolute;
    bottom:0;
}

.ContainerSinistra{
    left:3vh;
    
    
}

.ContainerCentrale , .title{

    left:0;
    right: 0;
    text-align: center;
}
.ContainerCentrale img{
    opacity: 0.9;
}
#personaggioCentrale{ 
    height: 58vh;
    
    
    
}

#loginText{
    height: 5vh;
   position: relative;
   bottom: 2vh;
   cursor: pointer;
   z-index: 1;
}
.ContainerDestra img , .ContainerSinistra img{
    height: 37vh;
}
.ContainerDestra{
    right: 0;
}
.ContainerSinistra,.ContainerDestra{
    text-align: center;
}

.title{
    position: absolute;
    top:0;    
}
.title img{
    height: 11vh;
}

.SezioniHome{
    position: absolute;
    top: 13%;
    padding-left: 18%;
    padding-right: 18%;
}
.SezioniHome img{
    height: 4vh;
}
.titoloDestra{
    right:0;
    text-align: end;
}
.circonferenzaBlu{
    position: relative;
    top:49vh;
    
    img{
        height: 80vh;
      
        
    }
    
}
.symbol_alti{
    height: 30vh !important;
    display: block;
}
.symbol_bassi{
    height: 4vh !important;
    
}
.personaggi{
    display: block;
}

/* LOGIN */ 
.login{
    top:0 !important;
    display: inline-block;
    #sferaRossa{
        height: 94vh !important;
        position:relative
    }
}

.loginImages{
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 24%;
    left: 18%;
    text-align: center;
    button{
        border: transparent;
        background: transparent;
        height: 12vh;
        img{
            cursor: pointer;
        }
    }
    img{
        height: 12vh !important;
        
       
        
        
    }
}
.loginInput{
    position: absolute;
    height: 4vh;
    width: 34vh;
    background: transparent;
    border: transparent;
}
.name{
    top: 10%;
    left: 33%;
    padding-bottom: 0.2em;
}
.password{
    top: 32%;
    left: 33%;
}

.repeatPassword{
    top: 60%;
    left: 33%;
}

@media only screen and (max-width: 800px){
    .circonferenzaBlu{
        position: relative;
        top:20vh;
        
        img{
            height: 40vh;
            
        }
        
    }
    .ContainerCentrale img{
        height: 50vh;
        opacity: 0.9;
        
    }
    .SezioniHome{
        
        padding-left: 10%;
        padding-right: 10%;
    }

}
@media only screen and (max-width: 600px){
    .SezioniHome{
        padding-left: 2%;
        padding-right: 2%;
    }
}
    @media only screen and (max-width: 425px){
        .symbol_alti{
            visibility: hidden;
        }
        .SezioniHome{
            padding-left: 0;
            padding-top: 0;
            top:-13%;
        }
        #personaggioCentrale{ 
            height: 50vh;
            
            
            
        }
        .ContainerDestra img , .ContainerSinistra img{
            height: 30vh;
        }
        
       
}
