html{
    margin:0;
    padding:0;
    height: 100%;
    width: 100%;
    background-color: black;
}

.razzaDiv{
    position: relative;
    height: 90vh;
    width: fit-content;
    margin: auto;
}
.sfondoRegistrazione1{
    height: inherit;
}
form{
    text-align: center;
}
#razzaCentrale, #razzaSinistra , #razzaDestra{
    position: absolute;
    height: 41.9vh;
    opacity: 0.7;
    &:hover{
        opacity: 1;
    }
}


#razzaCentrale{
    left:32.9%;
    top:30%;
}
#razzaSinistra{
    left: 21.6%;
    top: 26%;
}
#razzaDestra{
    right: 34%;
    top: 25.9%;
}

#emisferodestro , #emisferosinistro{
    position: absolute;
    top:26%;
    height: 45vh;
    opacity:0.7;
    &:hover{
        opacity:1;
    }
}
#emisferodestro{
    right:36%;
}
#emisferosinistro{
    left:25%;
}
.inputTextRegistrazione{
    position: absolute;
    top:0;
    left:0;
}