.modal_vue{
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.modal_vue_body{
    height: 80vh;
    width: 50%;
    position: relative;
    section{
        position: absolute;
        top: 0;
        display: flex;
        flex-direction: column;
        color: white;
        header{
            flex: 0.2;
            cursor: move;
        }
        main{
            flex: 1;
        }
    }
}


#sfondo_modal_vue{

    height: 100%;
    width: 100%;
}

@media only screen and (max-width: 980px) and (min-height: 700px){
  

    .modal_vue_body{
        width: 80%;
    }
    
        
              
           


}