.modal{
    width: 100%;
    height: 100%;
    display: flex;
    background-color: rgba(0,0,0,0.3);
    position: absolute;
    top:0;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    
}
html body{
    height: 100%;
    margin: 0;
    padding: 0;
    scrollbar-color: #03fcf6 #0d3342 ;
    scrollbar-width: thin;
}
#sfondoModal{
    height: 75vh;
}
.modal_body{
    position: relative;
}
.closeModal{
    width: fit-content;
    img{
        height: 6vh;
        cursor: pointer;
    }
}
.off{
    display: none;
}
.footerModal{
    height: 6.7vh;
    width: 113vh;
    position: absolute;
    bottom: 0;
}
#modalHeader{
    position: ABSOLUTE;
    top: 0;
    width: 100%;
    height: 6.8vh;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    cursor: move;
}
.content{
    width: 113vh;
    height: 61.4vh;
    position: absolute;
    top:7vh;
}
