html body{
    height: 100%;
    margin: 0;
    padding: 0;
}
.modal{
    width: 100%;
    height: 100%;
    display: flex;
    background-color: rgba(0,0,0,0.7);
    position: absolute;
    top:0;
    align-items: center;
    justify-content: center;
    
}
.off{
     display: none;
 }
.modal_body{
    position: relative;
    
   
}
.closeModal{
    position: absolute;
    top: 2.7%;
    right: 8%;
    button{
        font-size: 2vh;
        background: transparent;
        border: transparent;
        color: #03fdfe;
        cursor: pointer;
    }
}
#sfondoModal{
    height: 55vh;
    
}
