@import './../animation';

#news_written{
    display: flex;
    flex: 1;
    ul {
        max-height: 100%;
        width: 100%;
        max-width: 100%;
        list-style: none;
        overflow-y: auto;
        li{
            padding: 1vh;
            p::first-letter{
                text-transform: capitalize;
            }
            p {
                word-break: break-all;
            }
            &:hover{
                border: 1px solid white !important; 
                color: white !important;
                background-color: #9d0d0d !important;
                cursor: url("/img/imgHomeInterna/Icone/delete.png"), auto;
            }
        }
        .dateNews{
            text-align: end;
        }
    }
}
#iconAddNews{
    height: 2.5vh;
margin: 0.5vh;
animation: spin 1s alternate infinite;
}
#news_to_write{
    display: flex;
    flex: 0.5;
    background-color: #1f81b0;
    box-shadow: 5px 5px 2px #2cc6c8, -5px -5px 2px #2cc6c8, 5px -5px 2px #2cc6c8, -5px 5px 2px #2cc6c8;
    margin-bottom: 1vh;
    padding: 1vh;
    display: flex;
    align-items: center;
    animation: fadeInDown 0.5s cubic-bezier(1,0,0,1);
    min-height : 30%;
    
}

#description_news{
    background: #013445;
    height: 80%;
    color: white;
    width: 70%;
    margin: auto;
    border: 1px solid #2bc5c7;
    padding: 1vh;
}
#submit_news{
    background: #013445;
    height: 80%;
    color: white;
    width: 25%;
    margin: auto;
    border: 1px solid #2bc5c7;
    padding: 1vh;
    &:disabled{
        opacity: 0.5;
    }
}
#note_chat{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;

}